.loginCode {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginCode .title {
  font-size: 16px;
  letter-spacing: 1px;
}

.loginCode .inputCode {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginCode .inputCode input {
  border-radius: 4px;
}

.loginCode .inputCode .code {
  display: flex;
  align-items: center;
  position: relative;
}

.loginCode .inputCode .code label {
  position: absolute;
  right: 0;
  padding: 0 15px;
  height: 40px;
}

.loginCode .inputCode .code .getCode {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12.5px;
  color: var(--el-color-success-light-5);
  transition-duration: 0.2s;
}

.loginCode .inputCode .code label:focus-within + .authCode {
  background-color: var(--el-color-white);
  outline: 1px solid var(--el-color-success);
}

.loginCode .countLogin {
  height: 40px;
  text-align: center;
  width: 100%;
}

.loginCode .changeLogin {
  margin-top: 5px;
  font-size: 14px;
  float: right;
  text-decoration: none;
  cursor: pointer;
}

.QR p {
  font-size: 14px;
  color: #cecece;
}

.QR .code {
  width: 100%;
  height: 100%;
}

.QR .code img {
  height: 100%;
  width: 100%;
}
