.loginCode {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginCode .title {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.loginCode .inputCode {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginCode .inputCode input {
  outline: none;
  background-color: #f2f3f5;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  text-indent: 1em;
  transition-duration: 0.2s;
}

.loginCode .inputCode input:focus {
  background-color: var(--el-color-white);
  outline: 1px solid var(--el-color-success);
}

.loginCode .inputCode .code {
  display: flex;
  align-items: center;
  position: relative;
}

.loginCode .inputCode .code label {
  position: absolute;
  right: 0;
  padding: 0 15px;
  height: 40px;
}

.loginCode .inputCode .code .getCode {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12.5px;
  color: var(--el-color-success-light-5);
  transition-duration: 0.2s;
}

.loginCode .inputCode .code label:focus-within + .authCode {
  background-color: var(--el-color-white);
  outline: 1px solid var(--el-color-success);
}

.loginCode .countLogin {
  height: 35px;
  text-align: center;
  transition-duration: 0.25s;
  width: 100%;
  font-size: var(--el-font-size-base);
  border-radius: var(--el-border-radius-base);
  color: var(--el-color-white);
  background-color: var(--el-color-success-light-5);
  cursor: pointer;
  border: none;
}

.loginCode .countLogin:hover {
  background-color: var(--el-color-success-light-3);
}

.loginCode .changeLogin {
  margin-top: 5px;
  font-size: var(--el-font-size-small);
  float: right;
  text-decoration: none;
  cursor: pointer;
}
