li {
  list-style: none;
}

.proverShow {
  width: 100%;
  padding-top: 8rpx;
  padding-bottom: 8rpx;
  margin: 0 auto;
}

.proverShow .proverShowspan {
  cursor: pointer;
  color: #3377aa;
  font-size: 13px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 100vh;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: 100vh;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.homeCenter {
  overflow-y: scroll;
  height: 100vh;
}

.homeCenter::-webkit-scrollbar {
  width: 5px;
}

.homeCenter::-webkit-scrollbar-thumb {
  background-color: #69b1ff;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}
